body{
    background-color: rgb(218, 224, 230);
    font-size: 18px;
}

.container{
    width: 98%;
}

.main{
    padding-top: 4em;
}

.main .username{
    font-size: 24px;
    text-align: center;
    width: 20%;
    margin-left: 78%;
    position: fixed;
    background-color: white;
    border-radius: 15px;
}

.theme-block{
    width: 50%;
    background-color: white;
    margin-left:  25%;
    margin-bottom: 15px;
    padding: 5px 15px;
    border-radius: 10px;
}



.name{
    font-weight: bold;
    color: darkgreen;
    margin-right: 30px  ;
}

.date{
    font-weight: bold;
    color: midnightblue;
}

.load{
    text-align: center;
    width: 52%;
    height: 30px;
    box-shadow: none;
    border: 1px solid #1E90FF;
    border-radius: 10px;
    background-color: white;
    color: #1E90FF;
    margin-left: 25%;
}