<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Главная</title>
    <link href="{% static 'css/blocks.css' %}" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/login-form.css' %}" rel="stylesheet">
    <link href="{% static 'css/register-form.css' %}" rel="stylesheet">
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
    <script src="{% static 'js/content.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
</head>
<body>
    <header>
        <div class="container">
            <img src="{% static 'img/logo.png' %}" class="logo">
            <div class="search">
                <input type="search" placeholder="Найти в темах..." name="q" value>
            </div>
            {% if user.is_authenticated %}
            <div class="user-div-logged">
                <input class="add-theme" type="button" value="Добавить тему" onclick="openAT();">
                <input class="logout" type="button" value="Выйти" onclick="logout();">
            </div>
            {% else %}
            <div class="user-div-unlogged">
                <input class="login" type="button" value="Логин" onclick="openLF();">
                <input class="reg" type="button" value="Регистрация" onclick="openRF();">
            </div>
            {% endif %}
        </div>
    </header>

    <div class="main" id="main">
        <div class="container">
            <div id="themes" class="themes">
                
            </div>

            <input type="button" class="load" value="Загрузить еще" onclick="loadThemes();">
            
            <script type="text/javascript">
                loadThemes();
            </script>

        </div>
    </div>

    <div id="login-div" class="login-div">
        <div class="login-content">
            <div class="login-header">
                <span class="close" onclick="closeLF();">X</span>
                <p>Вход</p>
            </div>
            <div class="input-div">
                <p>Имя пользователя:</p><input type="text" id="username-login">
            </div>
            <div class="input-div">
                <p>Пароль:</p><input type="password" id="pass-login">                
            </div>
            <p id="status-l"></p>
            <input type="button" value="Вход" class="post-login" onclick="login();">

        </div>
    </div>

    <div id="reg-div" class="reg-div">
        <div class="reg-content">
            <div class="reg-header">
                <span class="close" onclick="closeRF();">X</span>
                <p>Регистрация</p>
            </div>
            <div class="input-div">
                <p>Имя пользователя</p><input type="text" id="username-reg">
            </div>
            <div class="input-div">
                <p>Пароль:</p><input type="password" id="pass1-reg">                
            </div>
            <div class="input-div">
                <p>Повторите пароль:</p><input type="password" id="pass2-reg">                
            </div>
            <p id="status-r"></p>
            <input type="button" value="Вход" class="post-reg" onclick="register();">
        </div>
    </div>


</body>